#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 10vh;
}

.galery {
  box-sizing: border-box;
}

h1 {
  font-size: 2.2em;
  line-height: 1.1;
}

img {
  width: 40%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  padding-top: 20px;
}

.section-ga {
  box-sizing: border-box;
  width: 400px;
  height: 400px;
  display: inline-block;
  margin: 10px;
  border-radius: 20px;
  box-shadow: 0 0 10px #999a;
  overflow: hidden;
}

p {
  position: relative;
  top: 10px;
}
